* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --darkblue: #093e9c;
  --lightblue: #4dd4ff;
  --pink: #d32eee;
  --yellow: #fff500;
}
body {
  position: relative;
  font-family: "Poppins", sans-serif;
}
/* Navbar section */
.main-navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 10px;
  background: #fff;
  position: fixed;
  box-shadow: 0 0 3px #777;
  /* display: none; */
}
.main-navbar.sticky {
  box-shadow: 0 0 3px #777;
  position: fixed;
  background-color: rgb(228, 222, 222);
}

.nav-img {
  padding: 0 20px;
}
.logo {
  height: 5vh;
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 10px;
}
.logo h1 span {
  color: var(--blue);
}
.logo-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
}

.main-nav {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: end;
}
.profile-md {
  position: relative;
  display: flex;
  justify-content: end;
  cursor: pointer;
}
.profile-md .badge {
  position: absolute;
  /* right: -4px; */
  bottom: 10px;
  background-color: #ed1111;
  padding: 0 5px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}
.profile-md .bell {
  font-size: 30px;
  color: #494848;
}
.nav-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}


/* .right-nav {
  display: flex;
  justify-content: space-around;
  width: 10%;
} */

.harmburger-menu {
  display: none;
  font-size: 35px;
  cursor: pointer;
  /* position: fixed; */
  

  color: #000;
 
}

/* side pane section */
.side-pane {
  /* display: none; */
  /* width: 20%; */
  background-color: var(--darkblue);
  padding: 10px 0px;
  /* height: 100vh; */

  width: auto;
  height: 100%;
  top: 50px;
  left: 0;
  padding-bottom: 50px;

  overflow-y: scroll;
}
.side-pane::-webkit-scrollbar {
  width: 7px;
  height: 10px;
}
::-webkit-scrollbar-track {
 background: transparent;
 border-radius: 5px;
}
::-webkit-scrollbar-thumb{
 background: #ffff;
 border: 1px solid var(--primary);
 border-radius: 10px;
}
.side-pane ul li {
  position: relative;
  list-style-type: none;
  line-height: 50px;
  height: 50px;
  width: 100%;
}
.side-pane ul li:first-child {
  padding: 20px 0;
  height: 100px;
}
.side-pane ul li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;

  text-align: center;
  transition: all 0.3s ease-in-out;
}

.side-pane ul li a:hover {
  background-color: rgb(4, 4, 167);
}
.side-pane ul li a:first-child, .side-pane ul li a:last-child {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.side-pane ul li a i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
}
/* .side-pane ul li .tooltip {
  width: 100px;
  height: 50px;
  background-color: #fff;
  box-shadow: 0 0 3px #777;
  color: var(--fill);
  position: absolute;
  top: 0;
  text-align: center;
  left: 150px;
  line-height: 35px;
  opacity: 0;
  transition: 0;
  display: none;

} */

/* Main wrapper */
/* .dashboard-wrapper {
  display: grid;
  grid-template-columns: 200px auto;
} */

.side-pane.active .title{
  display: contents !important;
  transition: all 0.2s ease-in-out;
}
.side-pane #dashboard {
  padding-right: 10px;
}
/* main body */
.dashboard-main {
  background-color: #ddd;
  padding: 20px;
  margin-left: 12%;
  padding-top: 70px;
  padding-left: 65px;
}
/* Modal-wrapper */
.modal-wrapper,
.modal-wrapper-profile {
  position: absolute;
  top: 50px;
  background-color: #fff;
  right: 0;
  box-shadow: 0 0 3px #777;
  width: 25%;
  z-index: 1;
  display: none;
}
.modal-pop-up {
  padding: 10px;
}
/* .modal-pop-up > div {
  margin-top: 10px;
} */
.section-one,
.open-chart,
.see-products {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* profile */
.profile {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.sign-out {
  list-style-type: none;
  display: center;
  justify-content: center;
  text-align: center;
  margin: 10px 0;
}
.profile-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 10px;
  text-align: center;
}
.profile-img {
  text-align: center;
}
.profile-name {
  text-align: center;
  margin-top: 5px;
}
.btn-edit {
  text-align: center;
  margin: auto;
  margin: 30px 0;
}
.edit-btn {
  padding: 5px 15px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #093e9c;
  color: #fff;
  margin-bottom: 5px;
  text-align: center;
  margin: auto;
}

@media screen and (max-width: 1035px) {
  .harmburger-menu {
    display: block;
  }
  .side-pane .title {
    display: none;
  }
  .side-pane ul>li .title:hover {
    display: contents;
  }
  .side-pane {
    /* border-top-right-radius: 50px;
    border-bottom-right-radius: 50px; */
    top:50px;
    height: 100%;
    overflow-y: hidden;
  }
  .dashboard-main {
    width: 100%;
    margin-left: auto;
  }
}


@media screen and (max-width: 768px) {
  .harmburger-menu {
    display: block;
  }
  .dashboard-main {
    width: 100%;
    margin-left: auto;
  }
  .side-pane ul li a i {
      font-size: 20px;
      /* color: #093e9c; */
  }
}
