* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background: #fffff0;
  transition: 0.5s;
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  position: relative;
  width: 70%;
  height: 70vh;
  margin: 20px;
  left: 4%;
  box-sizing: border-box;
}

.bigBg {
  position: absolute;
  right: 70%;
  width: 45%;
  height: 131%;
  background: #08378c;
}

.smallBg {
  position: absolute;
  top: 10%;
  right: 5%;
  width: 100%;
  height: 110%;
  background: #08378c;
  box-shadow: 0px 0px 25px -7px rgba(0, 0, 0, 0.3);
}

.smallBg .box {
  padding: 0 0 10px 0;
  position: relative;
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.smallBg .box .image .firstImg {
  position: relative;
  max-height: 100%;
  max-width: 117%;
}

.smallBg .box .image .logo {
  position: absolute;
  top: 0;
  transform: translateY(-45px);
  padding: 10px;
  width: 60%;
  height: 30%;
  z-index: 1;
}

.formBx {
  position: absolute;
  top: 10%;
  right: 5%;
  width: 65%;
  height: 110%;
  background: #fff;
}

.container .formBx > a {
  font-size: 0.9rem;
  position: relative;
  left: 75%;
  top: 5%;
}

.container .formBx > a,
.container .formBx > a:visited {
  text-decoration: none;
  color: #093e9c;
  outline: none;

}

.formBx .form {
  transform: translateY(40%);
  transition: 0.6s ease-in-out;
}

.formBx .form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.formBx .form form input {
  width: 110%;
  margin-top: 2%;
  margin-bottom: 8%;
  padding: 10px;
  outline: none;
  font-family: inherit;
  font-size: 1rem;
  border: 1px solid #afafaf;
  border-radius: 4px;
  position: relative;
}

.formBx .form form .input input:focus {
  border-color: #093e9c;
}

.formBx .form form .emailBox input {
  width: 121.5%;
  position: relative;
  right: 5.2%;
}

.formBx .form form .emailBox label {
  position: relative;
  right: 4.8%;
}

.formBx .form form input::placeholder {
  font-size: 0.9rem;
}

.formBx .form form .passwdBox {
  position: relative;
}

.formBx .form form .passwdBox #toggle {
  position: absolute;
  top: 45%;
  right: -7%;
  width: 16px;
  height: 16px;
  background: url(./images/eye.svg);
  background-size: cover;
  cursor: pointer;
}

.formBx .form form .passwdBox #toggle.hide {
  background: url(./images/eye-slash.svg);
  background-size: cover;
}

.formBx .form form a {
  text-decoration: none;
  font-size: 0.9rem;
  margin-top: 6%;
}

.formBx .form form a,
.formBx .form form a:visited {
  color: #093e9c;
}

.formBx .form form .pageBtm {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  left: 2%;
}

.formBx .form form button {
  max-width: 110px;
  cursor: pointer;
  padding: 10px 25px;
  color: #fff;
  background: #093e9c;
  font-size: 0.7rem;
  font-family: inherit;
  border: none;
  border-radius: 6px;
  margin-bottom: 8%;
  vertical-align: middle;
}

.formBx .form form .pageBtm button:hover,
.formBx .form form .pageBtm button:focus {
  background: #2550a7;
  outline: none;
}

.formBx .form form .pageBtm span {
  margin-left: -5%;
}

/****************** Media Queries  ******************/

@media screen and (max-width: 1024px) {
  * {
    font-size: 1.5rem;
  }
  .container {
    margin: 0 auto;
    width: 80%;
    left: 0;
    height: 80vh;
    font-size: 1.5rem;
  }

  .bigBg {
    height: 125%;
    width: 25%;
    right: 90%;
  }

  .smallBg {
    top: 8%;
    /* left: 1%; */
    right: -10%;
    width: 115%;
  }

  .smallBg .box .image .firstImg {
    display: none;
  }

  .smallBg .box .image .logo {
    width: 80%;
    top: -3%;
  }

  .formBx {
    top: 8%;
    right: -10%;
    padding: 2%;
    width: 100%;
    height: 110%;
  }

  .formBx .form {
    position: relative;
    top: 7%;
    right: 2%;
  }
  .formBx .form form {
    margin-top: 1%;
  }

  .container .formBx > a,
  .formBx .form form .pageBtm span a {
    font-size: 1.2rem;
  }

  .formBx .form form button {
    font-size: 0.9rem;
  }

  .container .formBx > a {
    left: 80%;
    top: 4.4%;
  }

  .formBx .form form label {
    font-size: 1.2rem;
  }

  .formBx .form form .emailBox input {
    width: 124%;
    right: 6.1%;
    height: 100%;
  }

  .formBx .form form .emailBox label {
    position: relative;
    right: 5.9%;
  }

  .formBx .form form input::placeholder {
    font-size: 0.95rem;
  }
  .formBx .form form .passwdBox #toggle {
    transform: translateY(10px);
  }

  .formBx .form form .pageBtm span {
    transform: translateX(10px);
  }
}

@media screen and (min-width: 320px) and (max-width: 540px) {
  * {
    font-size: 1rem;
  }

  body {
    background-color: #fff;
  }

  .container .formBx > a {
    position: fixed;
    left: 68%;
    top: 6.5%;
  }

  .bigBg {
    visibility: hidden;
  }

  .smallBg {
    right: 0;
    width: 100%;
  }

  .smallBg .box .image .logo {
    position: fixed;
    width: 40%;
    transform: translate(-30%, -9px);
  }

  .formBx {
    right: 0;
    width: 120%;
    height: 120%;
    transform: translate(8%, -4.5%);
  }

  .formBx .form form .passwdBox #toggle {
    transform: translateY(0);
  }
 
}
