* {
  margin: 0;
  padding: 0;
}

.container {
  box-sizing: border-box;
  width: 90%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  column-gap: 5%;
  font-family: "Source Sans Pro", sans-serif;
}

.container .imgBox {
  max-width: 50%;
  display: flex;
  justify-content: start;
  position: relative;
  right: 3%;
  overflow: hidden;
}

.container .imgBox .logo {
  position: absolute;
  top: 3%;
  left: 8%;
  height: 6%;
  z-index: 1;
}

.formBx .form {
  width: 100%;
  height: 70%;
  position: relative;
  right: 13%;
  top: 10%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formBx .form form {
  width: 80%;
}

.formBx .form .formHeader {
  text-align: center;
}

.formBx .form h2 {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.formBx .form h4 {
  margin: 8px 0 25px 0;
}

.formBx .form form input {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  outline: none;
  font-family: inherit;
  font-size: 1rem;
  border: 1px solid #afafaf;
  border-radius: 5px;
}

.input input::placeholder {
  font-size: 0.8rem;
  padding-left: 1px;
}

.formBx .form form .input input:focus {
  border-color: hsl(219, 89%, 29%);
}

.formBx .form form .fullName {
  margin-top: -7px;
}

.form form .cmpnyName #org + small {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 0.8rem;
}

.form form .cmpnyName #org + small::after {
  position: absolute;
  top: -25px;
}

.form form .cmpnyName #org:invalid {
  border: 1px solid red;
}

.form form .cmpnyName #org:invalid + small::after {
  content: "Input field is empty";
  color: red;
  font-size: 0.9rem;
}

.formBx .form form a,
.formBx .form form label {
  text-decoration: none;
  font-size: 0.9rem;
}

.formBx .form form a:focus {
  outline: none;
}

.formBx .form form a:visited {
  color: #08378c;
}

.formBx .form form .pwd {
  position: relative;
}

.formBx .form form .pwd #toggle {
  position: absolute;
  top: 44%;
  right: 0;
  width: 16px;
  height: 16px;
  background: url(./assets/eye.svg);
  background-size: cover;
  cursor: pointer;
}

.formBx .form form .pwd #toggle.hide {
  background: url(./assets/eye-slash.svg);
  background-size: cover;
}

.formBx .form form button {
  max-width: 200px;
  cursor: pointer;
  padding: 13px 20px;
  color: #fff;
  background: #093e9c;
  font-size: 0.7rem;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  margin: 1rem 0 0.6rem 0;
  vertical-align: middle;
  position: relative;
}

.formBx .form form button:hover,
.formBx .form form button:focus {
  background: #2550a7;
  outline: none;
}

.formBx .form form .pageBtm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form .pageBtm .check {
  margin-top: 0.7rem;
  display: flex;
}

form .pageBtm .check span {
  display: inline-block;
  vertical-align: middle;
}

form .pageBtm .check span input {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  width: 1em;
  height: 1em;
  border: 1px solid gray;
  vertical-align: -3px;
  color: green;
  top: 4%;
}

form .pageBtm .check span input::before {
  content: "✔";
  position: absolute;
  font-size: 1.2em;
  right: -1px;
  top: -0.3em;
  visibility: hidden;
}

form .pageBtm .check span input:checked::before {
  visibility: visible;
}

.pageBtm .check label {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 0 0 10px 10px;
}

.formBx .form form .btmPara {
  font-size: 0.7em;
  margin-bottom: 0.9em;
}

/********** Media Queries ***********/

@media screen and (max-width: 1300px) {
  .formBx {
    position: relative;
    left: 5%;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    column-gap: 0;
  }

  .container .imgBox {
    width: 50%;
  }

  .container .imgBox .left {
    display: none;
  }

  .container .imgBox .logo {
    height: 5%;
    margin-left: 5%;
  }

  .formBx .form {
    font-size: 1.5rem;
    position: relative;
    right: 4%;
  }

  .formBx .form form {
    width: 100%;
  }

  .form form .cmpnyName #org + small {
    font-size: 1rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {

  .container .imgBox {
    display: none;
  }

  .formBx .form {
    position: relative;
    left: 0;
    right: 5%;
    font-size: 1.2rem;
  }

  .formBx .form form .pwd #toggle {
    transform: translateY(50%);
  }
  
  .formBx .form form .btmPara {
    font-size: 0.6rem;
  }
}
