*,
body,
p {
  margin: 0;
  padding: 0;
}

.container {
  box-sizing: border-box;
  width: 95%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  column-gap: 20px;
  font-family: "Source Sans Pro", sans-serif;
}

.container .imgBox {
  width: 60%;
  display: flex;
  justify-content: start;
  position: relative;
  right: 1.5%;
  overflow: hidden;
}

.container .imgBox .logo {
  position: absolute;
  margin-left: 30px;
  left: 5%;
  top: 4%;
  width: 20%;
  height: 5%;
  z-index: 1;
}

.container img .left {
  position: relative;
  width: 20%;
  height: 50%;
  left: 0;
}

.container img .right {
  position: relative;
  width: 80%;
  height: 98%;
  padding: 1% 0 1% 2%;
}

.formBx .form {
  width: 100%;
  height: 70%;
  position: relative;
  right: 30%;
  top: 10%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formBx .form form {
  width: 80%;
}

.formBx .form .formHeader {
  text-align: center;
}

.formBx .form h2 {
  font-family: "Poppins", sans-serif;
}

.formBx .form h4 {
  margin: 8px 0 25px 0;
}

.formBx .form form input {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  outline: none;
  font-family: inherit;
  font-size: 1rem;
  border: 1px solid #afafaf;
  border-radius: 5px;
}

.formBx .form form .input label {
  margin: 0 0 2px 5px;
}

.input input::placeholder {
  font-size: 0.8rem;
  padding-left: 1px;
}

.formBx .form form .input input:focus {
  border-color: #08378c;
}

.formBx .form form .fullName {
  margin-top: -7px;
}

.form form .cmpnyName #org + span {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 0.8rem;
}

.form form .cmpnyName #org + span::after {
  position: absolute;
  right: 68%;
  top: -25px;
}

.form form .cmpnyName #org:invalid {
  border: 1px solid red;
}

.form form .cmpnyName #org:invalid + span::after {
  content: "Input field is empty";
  color: red;
}

.formBx .form form a,
.formBx .form form label {
  text-decoration: none;
  font-size: 0.9rem;
}

.formBx .form form a:focus {
  outline: none;
}

.formBx .form form a:visited {
  color: #08378c;
}

.formBx .form form .pwd {
  position: relative;
}

.formBx .form form .pwd #toggle {
  position: absolute;
  top: 40%;
  right: 0;
  /* transform: translateX(300px); */
  width: 21px;
  height: 21px;
  background: url(./assets/eye.svg);
  background-size: cover;
  cursor: pointer;
}

.formBx .form form .pwd #toggle.hide {
  background: url(./assets/eye-slash.svg);
  background-size: cover;
}

.formBx .form form button {
  max-width: 200px;
  cursor: pointer;
  padding: 13px 20px;
  color: #fff;
  background: #08378c;
  font-size: 10px;
  font-weight: 500;
  border: none;
  border-radius: 17px;
  margin: 1rem 0 0.6rem 0;
}

.formBx .form form button:hover,
.formBx .form form button:focus {
  background: #2550a7;
  outline: none;
}

.formBx .form form .pageBtm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form .pageBtm .check {
  margin-top: 0.7rem;
}

form .pageBtm .check span {
  display: inline-block;
  vertical-align: middle;
}

form .pageBtm .check span input {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  width: 1em;
  height: 1em;
  border: 1px solid gray;
  vertical-align: -3px;
  color: green;
}

form .pageBtm .check span input::before {
  content: "✔";
  position: absolute;
  font-size: 1.2em;
  right: -1px;
  top: -0.3em;
  visibility: hidden;
}

form .pageBtm .check span input:checked::before {
  visibility: visible;
}

.pageBtm .check label {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 10px 5px;
}

.formBx .form form .btmPara {
  font-size: 0.7em;
  margin-bottom: 0.9em;
}

/********** Media Queries ***********/

@media screen and (max-width: 1083px) and (max-height: 700px) {
  .formBx .form h2 {
    text-align: justify;
    text-align: center;
  }
}

@media screen and (max-width: 1300px) {
  .formBx {
    position: relative;
    right: 0%;
    left: 5%;
  }
}

@media screen and (max-width: 1024px) {
  .container .imgBox {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  .formBx {
    height: 80%;
    top: 5%;
  }
  .formBx .form {
    height: 90%;
    width: 150%;
    background: rgba(198, 193, 243, 0.76);
    border: 3px solid transparent;
    border-image: linear-gradient(to right, blue, red);
    border-image-slice: 1;
    padding: 20px;
  }
  .form form .cmpnyName #org + span::after {
    right: 70%;
  }
}

@media screen and (max-width: 768px) {
  .formBx {
    height: 80%;
  }
  .formBx .form {
    width: 120%;
    /* top: %; */
    left: -20%;
    padding: 10px;
  }
}

@media screen and (max-width: 650px) {
  .formBx .form {
    width: 100%;
    left: 0;
    height: 90%;
  }
}
