@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap");
:root {
  --primary: #093e9c;
  --secondary: #A3A3A3;
}

* {
  outline-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Poppins", sans-serif;
  background: #f0f0e3;
  color: #010c1f;
}


/* navbar styles */

/* end sidebar styles */

/* main - content styles */

/* .main {
  grid-column: 5/15;
} */

.sales .top {
  display: flex;
  justify-content: space-between;
}

.top .left {
  margin: 0 15px;
}
.top .right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.filter {
  position: relative;
}
.filter img {
  position: absolute;
  top: 8px;
  right: 8px;
  pointer-events: none;
}
.filter select {
  margin: 0 5px;
  appearance: none;
  padding: 5px 15px;
  border: 1px solid var(--secondary);
  border-radius: 2px;
}
.right p img {
  position: relative;
  top: 4.5px;
}
.right > img {
  margin: 0 5px;
}

.all {
  display: flex;
  justify-content: space-between;
  max-width: 50%;
  white-space: nowrap;
  margin: 10px 0;
}

.btn {
  border-radius: 20px;
  padding: 7px;
  border: 1px solid var(--primary);
  color: var(--primary);
  cursor: pointer;
}

.table-group {
  position: relative;
  /* border: 1px solid indianred; */
   overflow-x: auto;
   direction: ltr;
 }
 .table-group::-webkit-scrollbar {
   height: 5px;
 }
::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb{
  background: #ffff;
  border: 1px solid var(--primary);
}

.table-group table {
  width: 100%;
 
}
table {
  margin-bottom: 30px;
  margin-left: 30px;
}
table,
th,
td {
  border-collapse: collapse;
  border-bottom: 1px solid var(--secondary);
  text-align: left;
  color: #010c1f;
  /* width: fit-content; */
}
table thead tr th {
  border-bottom: 1px solid var(--secondary);
  padding-bottom: 15px !important;
  margin-bottom: 10px;
  padding-left: 5px;
  white-space: nowrap;
  text-transform: uppercase;
  /* width: max-conten; */
}
tbody tr td{
  padding: 10px 5px;
  white-space: nowrap;
}

/* end sales-info section */


.sidebar.show {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #093e9c;
}
/* .account.show {
  
} */

/* media queries */


@media screen and (max-width: 855px) {
  .sidebar {
    display: none;
  }
  .none {
    display: inline-block;
  }
  .sidebar .avatar img {
    max-width: 150px;
  }
  .main {
    grid-column: 2/15;
  }

}

@media screen and (max-width: 700px) {
  .sidebar {
    position: absolute;
    top: -19px;
    left: 0px;
  }
  .sales .top {
    justify-content: space-around;
    flex-direction: column
  }
  
  .top .left {
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (max-width: 690px) {
  .sidebar {
    display: none;
  }
  .sidebar.forsmall {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .sidebar {
    position: absolute;
    top: -19px;
    left: 0px;
  }
}

@media screen and (max-width: 380px) {
  .sidebar {
    top: -40px;
  }
}
