*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background: #fffff0;
  transition: 0.5s;
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  position: relative;
  width: 70%;
  height: 70vh;
  margin: 20px;
  left: 4%;
  box-sizing: border-box;
}

.bigBg {
  position: absolute;
  right: 70%;
  width: 45%;
  height: 131%;
  background: #08378c;
}

.smallBg {
  position: absolute;
  top: 10%;
  right: 5%;
  width: 100%;
  height: 110%;
  background: #08378c;
  /* box-shadow: 0 5px 42px rgba(0, 0, 0, 0.3); */
  box-shadow: 0px 0px 25px -7px rgba(0, 0, 0, 0.3);
}

.smallBg .box {
  padding: 0 0 10px 0;
  position: relative;
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.smallBg .box .image .whiteBg {
  width: 117%;
  height: 12%;
  position: relative;
  background-color: #fff;
}

.smallBg .box .image .logo {
  position: absolute;
  top: 15%;
  right: 28%;
  width: 100%;
  height: 83%;
  z-index: 1;
}

.smallBg .box .image .firstImg {
  position: relative;
  top: 25%;
  left: 8%;
  max-height: 100%;
  max-width: 100%;
}

.formBx {
  position: absolute;
  top: 10%;
  right: 5%;
  width: 65%;
  height: 110%;
  background: #fff;
}

.container .formBx a,
.container .formBx a:visited {
  color: #093e9c;
  text-decoration: none;
}

.container .formBx .help a {
  position: fixed;
  left: 75%;
  top: 15%;
  font-size: 0.9rem;
}

.formBx .form {
  transform: translateY(40%);
  transition: 0.3s;
}

.formBx .form .pageHead {
  text-align: center;
  margin-bottom: 1%;
  transform: translateY(-70%);
}

.formBx .form .pageHead h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-bottom: 1%;
}

.formBx .form .pageHead p,
.formBx .form form input::placeholder {
  font-size: 0.9rem;
}

.formBx .form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formBx .form form input {
  width: 100%;
  margin-top: 3px;
  margin-bottom: 9%;
  padding: 10px;
  outline: none;
  font-family: inherit;
  font-size: 1rem;
  border: 1px solid #afafaf;
  border-radius: 4px;
  position: relative;
}

.formBx .form form input:focus {
  border-color: #093e9c;
}

.formBx .form form .input label {
  margin-left: 12px;
}

.formBx .form form .input #toggle,
.formBx .form form .input #toggleAlso {
  position: absolute;
  top: 34.5%;
  right: 25.5%;
  width: 16px;
  height: 16px;
  background: url(./images/eye.svg);
  background-size: cover;
  cursor: pointer;
}

.formBx .form form .input #toggle.hide,
.formBx .form form .input #toggleAlso.hide {
  background: url(./images/eye-slash.svg);
  background-size: cover;
}

.formBx .form form .pwdBox input {
  width: 107.5%;
  transform: translateX(-3%);
}

.formBx .form form .pwdBox label {
  position: relative;
  right: 3%;
}

.formBx .form form button {
  max-width: 300px;
  cursor: pointer;
  padding: 13px 30px;
  color: #fff;
  background: #093e9c;
  font-size: 0.7rem;
  border: none;
  border-radius: 19px;
  margin-top: 1%;
}

.formBx .form form button:hover,
.formBx .form form button:focus {
  background: #2550a7;
  outline: none;
}
