a {
  cursor: pointer;
}
/* end sidebar styles */

/* main - content styles */
/* top level */
.main .top {
  /* padding: 0; */
  border-radius: 6px;
  background: #ffff;
  margin: 20px 0;
  width: 100%;
  /* display: grid; */
  display: flex;
  justify-content: space-between;
  /* grid-template-columns: repeat(12, 1fr); */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.top .overview {
  /* background: #ffff; */
  align-self: center;
  height: 100%;
}

.top .date {
  height: initial;
  position: relative;
  align-self: center;
  /* background: #ffff; */
  padding: 1.1rem 0;
  /* border: 1px solid; */


}

.date select {
  display: inline-block;
  align-self: center;
  padding: 5px 1.3rem 0 0;
  border: 0;
  appearance: none;
}
.date select option {
  padding: 5px 0;
  border: 0;
}
.date img {
  display: inline-block;
  align-self: center;
  position: absolute;
  right: 5px;
  top: 25px;
  pointer-events: none;
}
/* end top level */
/* end main - content styles */

.main .dispense {
  background: #ffff;
  border-radius: 6px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* grid-template-columns: repeat(12, 1fr); */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.dispense .flex-col {
  background: #ffff;
  border-radius: 6px;
  margin: 10px;
  align-self: center;
  /* border-right: 1px solid gray; */
  padding: 10px 35px 10px 5px;
}
.dispense .invoice {
  grid-column: 1/2;
}
.dispense .product {
  grid-column: 3/4;
}
.dispense .report {
  grid-column: 5/6;
}

.dispense .user.type-1 {
  align-self: center;
  grid-column: 7/9;
}
.dispense .user.type-2 {
  align-self: center;
  grid-column: 10/12;
}

.flex-col h2 {
  text-align: center;
  font-weight: bold;
}
.flex-col p {
  text-align: center;
  font-weight: bold;
}

/* charts section */
.main .charts {
  margin-top: 25px;
  background: #ffff;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.chart h1 {
  text-align: center;
}
.charts .left {
  padding: 10px;
}
.charts .left .my-profit {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.left .profit .p-10 {
  padding: 10px 0;
}

.profit {
    display: flex;
    justify-content: space-between;
}
.chart h1 .grey {
  color: gray;
  font-weight: normal;
}

/* end charts */

/* user-activity */
.main .users {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  background: #ffff;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-align: center;
}
.main .user-activity {
  text-align: center;
}

.main .user-activity .user.type-1 {
  max-width: 50%;
  text-align: center;
}
/* user-activity */

/* my-commodity section */

.main .commodity {
  margin-top: 25px;
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.commodity .product {
  display: flex;
  /* justify-content: space-between; */
  background: #ffff;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* max-width: fit-content; */
}

.commodity .product > img {
  align-self: center;
  margin-right: 10px;
}
.commodity .product .left {
  align-self: center;
}
/* .product .left > h2 {
  font-size: large;
  text-align: center;
} */

/* last section */



.main .notify {
  background: #ffff;
  margin-top: 50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 50%;
}
.flex {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.history.notify h3 {
  font-weight: bold;
  color: rgb(24, 23, 23);
}

.notify .header {
  margin-bottom: 40px;
  margin-left: 40px;
}

.notify .body .accounts .account {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 40px;
}
 .account .date-time,
.account .status {
  align-self: center;
}
.account:nth-child(2) .status {
  position: relative;
  /* bottom: 3px; */
}
.status img {
  position: relative;
  top: 7px;
  left: 10px;
}
 .account .credential h1,
.account .credential h3 {
  text-align: left;
}
.credential h3 span {
  font-size: 12px;
}
.account .date-time h5 {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-self: center;
}
.date-time h5 span{
  align-self: center;
  word-wrap: break-word;
  white-space: pre-line;
}
/* last section */
.sidebar.hide {
  display: none;
}

/* media queries */
@media screen and (max-width: 870px) {
 .main .notify {
    width: 100%;
  }
  .last-section {
    flex-direction: column;
  }
  
}
@media screen and (max-width: 750px) {
 .main .commodity {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
  }
  .commodity .p1 {
    grid-column: 1/2;
  }
  .commodity .p2 {
    grid-column: 4/5;
  }
  .commodity .p3 {
    grid-column: 1/2;
    grid-row: 2;
  }
  .commodity .p4 {
    grid-column: 4/5;
    grid-row: 2;
  }
}
@media screen and (max-width: 523px) {
  .sidebar{
    top: -40px;
  }
  
    .top {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: space-evenly;
      gap: 5px;
    }
    .top .overview {
      text-align: center;
    }
  }
  /* noeee */
@media screen and (min-width: 51090px) {
  .main .commodity {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
  }
  .commodity .p1 {
    grid-column: 1/6;
    grid-row: 1;
  }
  .commodity .p2 {
    grid-column: 8/13;
    grid-row: 1;
  }
  .commodity .p3 {
    grid-column: 1/6;
    grid-row: 2;
  }
  .commodity .p4 {
    grid-column: 8/13;
    grid-row: 2;
  }
}

@media screen and (min-width: 5853px) {
  .none {
    display: inline-block;
  }
  .sidebar .avatar img {
    max-width: 150px;
  }

  .notify .body .accounts .account {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
  }
  .account img {
    grid-column: 1/6;
    grid-row: 1;
  }
  .account .credential {
    grid-column: 7/13;
    grid-row: 1;
  }
  .account .date-time {
    grid-column: 1/6;
    grid-row: 2;
  }
 
  .account .status {
    grid-column: 7/13;
    grid-row: 2;
  }
}
@media screen and (min-width: 5800px) {
  /* .chart .total-revenue canvas {
      width: 3;
    } */
  .left .my-profit {
    flex-direction: column;
  }
}

@media screen and (min-width: 5690px) {
  .sidebar{
    display: none;
  }  
  .sidebar.forsmall{
    display: block;
  }
  .container {
    display: block;
    padding: 0 20px;
    /* background: #093e9c; */
  }
  .top {
    padding: 0 10px;
    justify-content: space-evenly;
  }
  .commodity .p2 {
    grid-column: 9/13;
  }
  .commodity .p4 {
    grid-column: 9/13;
  }

  .users .user-activity .user .gauge {
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 80%;
  }
}

@media screen and (min-width: 5500px) {
  .sidebar{
    position: absolute;
    top: -19px;
    left: 0px;
  }
}

